@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  transition: font-size 0.333s ease-in-out;
}

html.size-s {
  font-size: 14px;
}

html.size-l {
  font-size: 18px;
}

body {
  transition: background-color 0.5s ease-in-out;
  background-color: white;
}

button.icon-button {
  background: none;
  border: none;
}

header form.search-widget {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  height: 2rem;
  max-width: 100%;
}

header button.search-control {
  transform: scale(1.625, 2.5) translateX(-50%);
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

header button.search-control:hover {
  color: yellow;
}

.text-sky-700 {
  transition: color 0.5s ease-in-out;
}

main {
  min-height: calc(100vh - 6rem);
}

@media (min-height: 30rem) {
  main {
    min-height: calc(100vh - 7.5rem);
  }
}

@media (min-height: 40rem) {
  main {
    min-height: calc(100vh - 9rem);
  }
}

@media (min-height: 50rem) {
  main {
    min-height: calc(100vh - 10.5rem);
  }
}

main article ul li,
main article ol li {
  padding-left: 1em;
  margin-left: 0.5em;
}

main article ol {
  list-style-type: decimal;
}

main article ul {
  list-style-type: disc;
}

main h1:first-child {
  margin-bottom: 1em;
}

main article dl dt {
  font-weight: bold;
}

main article dl dd {
  padding-left: 2em;
}

main article > figure > figcaption {
  font-size: 0.9em;
  font-style: italic;
  user-select: none;
  margin-bottom: 1.5em;
}

.supplementary-title,
h1.site-title {
  position: fixed;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.main-content > h1,
.supplementary-title,
h1.site-title {
  font-family: 'Indie Flower', cursive;
}

.scrolled-down .supplementary-title {
  margin-top: -0.25rem;
}

.supplementary-title {
  transition: all 0.3333s ease-in-out;
}

h1.site-title {
  color: #00cc33;
  transition: color 0.5s ease-in-out;
}

.half-down h1.site-title {
  color: #008833;
  transition: color 0.5s ease-in-out;
}

.full-down h1.site-title {
  color: #005544;
  transition: color 0.5s ease-in-out;
}

body .search-input,
.dark-mode .search-input {
  color: black;
}

@media (min-width: 64rem) {
  .dark-mode h1.site-title {
    color: #aaffdd;
    opacity: 0.5;
  }

  .dark-mode .half-down h1.site-title {
    color: #55aa88;
    transition: color 0.5s ease-in-out;
  }

  .dark-mode .full-down h1.site-title {
    color: #448866;
    transition: color 0.5s ease-in-out;
  }
}

.scrolled-down .display-mode-selector {
  transform: scale(0.8);
}

.scrolled-down .menu-toggle {
  transform: scale(0.8) translateY(-33.333%);
}

.scrolled-down .toggle-display-options {
  font-size: 0.8em ;
}

.display-mode-selector {
  transition: transform 0.333s ease-in-out;
}

.dark-mode footer.bottom-footer {
  filter: invert(1);
}

footer.bottom-footer a:hover {
  filter: hue-rotate(90deg);
  text-decoration: none;
}

footer.bottom-footer .bottom-nav {
  margin: 1em auto;
  padding: 1em 0;
  max-width: 60rem;
  border-top: dashed 1px #999999;
}

footer.bottom-footer .bottom-nav p {
  margin-right: 2em;
  font-size: 0.9em
}

@media screen and (min-width: 56.25rem) {
  .supplementary-title {
    top: 0.875rem;
    left: 22.5rem;
    right: 4rem;
    font-size: 1.25em;
    opacity: 1;
    z-index: 80;
    text-align: left;
  }
  
  .scrolled-down .supplementary-title {
    top: 0.25rem;
  }
}

@media screen and (min-width: 64rem) {
  html {
    font-size: 17px;
  }
  html.size-s {
    font-size: 15px;
  }

  html.size-l {
    font-size: 19px;
  }
  h1.site-title {
    top: 5rem;
    left: 6.25%;
    transform: rotate(90deg) translateY(-0.0625em) scaleY(0.5);
    transform-origin: 0 0;
    margin: 0;
    padding: 0;
    font-size: 10vh;
    margin-block-start: 0;
    margin-block-end: 0;
    opacity: 0.3333;
  }
}

@media screen and (min-width: 80rem) {
  html {
    font-size: 18px;
  }
  html.size-s {
    font-size: 16px;
  }

  html.size-l {
    font-size: 20px;
  }
  h1.site-title {
    transform: rotate(90deg) scaleY(0.5);
    font-size: 12vh;
  }
  .supplementary-title {
    left: 38.5rem;
    right: 12.5rem;
  }
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 19px;
  }
  html.size-s {
    font-size: 16px;
  }
  
  html.size-l {
    font-size: 21px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 20px;
  }

  html.size-s {
    font-size: 16px;
  }

  html.size-l {
    font-size: 24px;
  }
}


@media screen and (min-width: 56.25rem) and (max-width: 65rem) {

  .year-link-2,
  .year-link-3,
  .year-link-4,
  .year-link-5 {
    display: none;
  }
}

@media screen and (min-width: 65rem) and (max-width: 70rem) {
  .year-link-3,
  .year-link-4,
  .year-link-5 {
    display: none;
  }
  .supplementary-title {
    left: 26.5rem; 
  }
}

@media screen and (min-width: 70rem) and (max-width: 75rem) {
  .year-link-4,
  .year-link-5 {
    display: none;
  }
  .supplementary-title {
    left: 30rem;
  }
}

@media screen and (min-width: 75rem) and (max-width: 80rem) {

  .year-link-5 {
    display: none;
  }
  .supplementary-title {
    left: 34rem;
  }
}

.dark-mode body {
  background-color: black;
}

.supplementary-title,
.dark-mode .text-gray-700 {
  color: #cccccc;
}

.dark-mode .text-sky-700 {
  color: #ffff99;
}

body > footer,
main {
  max-width: 80rem;
  margin: 0 auto;
}

header .display-options {
  position: absolute;
  top: 1em;
  right: 2.5%;
  transition: top 0.3333s ease-in-out;
  padding-right: 1.5em;
}

header .display-options .toggle-display-mode {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: top 0.3333s ease-in-out;
  width: 2em;
  z-index: 40;
  cursor: pointer;
}

header .display-options .inner-control {
  opacity: 0;
  width: 0;
  overflow: none;
  pointer-events: none;
}

header.show-display-options .display-options .inner-control {
  width: auto;
  pointer-events: all;
  overflow: visible;
  opacity: 1;
}

header .display-options .display-mode-selector,
header .display-options .text-size {
  opacity: 0;
  width: 0;
  overflow: none;
}

header.show-display-options .display-options .display-mode-selector,
header.show-display-options .display-options .text-size {
  opacity: 1;
  width: auto;
  overflow: visible;
}

@media screen and (min-width: 80rem) {
  header .display-options .inner-control {
    pointer-events: all;
  }
  header .display-options .display-mode-selector,
  header .display-options .text-size {
    opacity: 1;
    width: auto;
    overflow: visible;
  }
  header .display-options .toggle-display-options {
    display: none; 
  }
  header.top-header .display-options {
    padding-right: 0;
  }
}

header .toggle-display-options {
  position: absolute;
  display: flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
}

header .display-options .toggle-display-options::after {
  content: "⚙";
  font-size: 1.5em;
}

.toggle-display-options {
  top: 0.25em;
  right: 0;
  bottom: 0;
  width: 1.75em;
  z-index: 40;
  transition: transform 0.33333s ease-in-out, font-size 0.33333s ease-in-out;
}

header .toggle-display-options:hover {
  transform: rotate(90deg);
}

.scrolled-down header .display-options {
  top: 0.25em;
}

header .display-options .display-mode-selector span {
  display: block;
  padding: 0 0.25em;
  max-width: 1.5em;
  max-height: 1.5em;
}

header .display-options .display-mode-selector span.light {
  background-color: #ccffff;
  color: yellow;
}

.size-l header .display-options .large,
.size-s header .display-options .small,
.size-m header .display-options .medium {
  color: yellow;
}

header .display-options .display-mode-selector span:hover,
header .display-options .text-size:hover {
  font-style: italic;
}

.dark-mode header .display-options .display-mode-selector span.light,
.light-mode header .display-options .display-mode-selector span.dark {
  filter: grayscale(1);
  transition: filter 0.333s ease-in-out, transform 0.333s ease-in-out;
}

html.dark-mode header .display-options .display-mode-selector span.light:hover,
html.light-mode header .display-options .display-mode-selector span.dark:hover {
  filter: grayscale(0);
}


header .display-options .display-mode-selector span.dark {
  background-color: black;
  color: white;
}

header .display-options > div {
  user-select: none;
  cursor: pointer;
}

header .display-options .text-size {
  margin: 0 .5em;
}

header .display-options> .small {
  transform: scale(0.8);
  margin-left: 2em;
}

header .display-options>.large {
  transform: scale(1.2);
}

p.date > time {
  font-style: italic;
  text-align: left;
}

main p.date {
  text-align: left;
  position: relative;
}

main p.date::before {
  content: "🗓";
  margin-right: 0.5em;
}

header.top-header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 4px;
  z-index: 20;
}

header.top-header li,
header.top-header .text-size {
  font-weight: bold;
}

header.top-header {
  position: fixed;
  top: 0;
  z-index: 50;
}

header.top-header nav .search-toggle {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-left: 0.5em;
  transform: scale(1.25) translateY(-20%);
  transition: transform 0.333s ease-in-out;
}

header.top-header nav .search-toggle:hover {
  transform: scale(1.375) translateY(-22.5%) rotate(5deg);
}

header.top-header nav .search-toggle::before {
  position: relative;
  content: "🔎";
}

header.top-header input.search-input {
  max-width: 0;
  overflow: none;
  transition: max-width 0.5s ease-in-out;
}

header.top-header.show-search input.search-input {
  position: relative;
  max-width: calc(100% - 5.75rem);
  left: -1.5rem;
  opacity: 1;
  border-radius: 0.25em;
  padding: 0.25em 0.375em;
  align-self: flex-start;
}

header.top-header.show-search button.search-control {
  opacity: 1;
  pointer-events: all;
  align-self: flex-start;
}

@media (max-width: 40rem) {
  header.top-header.show-search .display-options {
    display: none;
  }
}

@media (min-width: 40rem) {
  header button.search-control {
      transform: scale(2);
  }
}

@media (min-width: 60rem) {
  header button.search-control {
    transform: scale(2) translate(50%);
  }
}

.show-display-opts-bar .supplementary-title,
.show-search-bar .supplementary-title {
  opacity: 0;
}

.top-header a,
.menu-toggle {
  user-select: none;
}

.top-header a:hover {
  color: yellow;
}

.menu-toggle {
  font-size: 1.25rem;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 1em;
  height: 1em;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  transition: transform 0.333s ease-in-out, border-color 0.333s ease-in-out;
  cursor: pointer;
}

.menu-toggle:hover {
  transform: rotate(45deg);
  border-color: yellow;
}

.menu-expanded .menu-toggle {
  transform: rotate(90deg);
}

article.inner-content p {
  padding-bottom: 1em;
}

@media screen and (max-width:  56.25rem) {
  header.top-header .link-item {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  header.top-header.menu-expanded .link-item {
    max-height: 3em;
    opacity: 1;
  }

  header.top-header {
    transition: max-height 0.5s ease-in-out;
  }
  
  header.top-header ul {
    flex-flow: column nowrap;
    max-height: 1.5em;
  }

  header.top-header.menu-expanded ul {
    max-height: 30em;
  }

  header.top-header ul>li:first-child {
    margin-top: 2em;
  }

  header.top-header ul > li.search-toggle {
    position: absolute;
    left: 2rem;
    top: 0.625rem;
    transition: all 0.333s ease-in-out;
  }

  @media (min-width: 25rem) {
    header.top-header ul>li.search-toggle {
      left: 2.25rem;
    }
  }

  .scrolled-down  header.top-header ul>li.search-toggle {
    top: 0.5rem;
    font-size: 0.8em;
  }

  header.top-header ul>li.link-item a {
    display: block;
    height: 1.25em;
  }
  header.top-header.menu-expanded ul>li.link-item {
    height: 3em;
  }
  header.top-header ul > li a {
    font-size: 1.5em;
  }
  .supplementary-title {
    top: 0.375rem;
    left: 4.75rem;
    right: 2.5rem;
    font-size: 1.125em;
    opacity: 1;
    z-index: 80;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
  header.top-header .display-options {
    top: 0.5rem;
  }
  .scrolled-down header.top-header .display-options {
    top: 0.25rem;
  }
}

@media screen and (max-width: 45rem) {
  .supplementary-title {
    font-size: 1.125em;
  }
}

@media screen and (max-width: 32rem) {
  .supplementary-title {
    font-size: 1em;
  }
}

@media screen and (max-width: 24rem) {
  .supplementary-title {
    font-size: 0.875em;
  }
}

@media screen and (max-width: 20rem) {
  .supplementary-title {
    font-size: 0.75em;
  }
}

@media screen and (min-width:  56.25rem) {
  .menu-toggle {
    display: none;
  }
  header.top-header.show-search input.search-input {
    max-width: 100%;
    left: -0;
  }
}

.menu-toggle::before {
  content: " ";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  border-bottom: solid 2px white;
}

.menu-toggle:hover::before {
  border-color: yellow;
}

body > main {
  margin-top: 4rem;
  z-index: 4;
}

header.top-header.p-2,
header.top-header nav ul.p-2 {
  transition: padding 0.333s ease-in-out;
}

.scrolled-down header.top-header.p-2 {
  padding: 0.125rem 0.75rem;
}

header.top-header nav ul.p-2 {
  padding-left: 0;
}

.scrolled-down header.top-header nav ul.p-2 {
  padding: 0.125rem 0.75rem 0.125rem 0;
} 

.inner-content.date {
  margin: 0.75em auto 1.5em;
}

article.inner-content > figure > div > iframe {
  width: 100%;
  aspect-ratio: 4/3;
  height: auto;
}

article.inner-content > figure.wp-embed-aspect-16-9 > div > iframe {
  aspect-ratio: 16/9;
}

main .content-list li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

main .adjacent,
main .inner-content {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

main .inner-content {
  text-align: left;
  padding: 0 3.75%;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5 {
  color: rgb(3, 105, 161);
  margin: 1.5em 0 0.5em 0;
}

.dark-mode main article h1,
.dark-mode main article h2,
.dark-mode main article h3,
.dark-mode main article h4,
.dark-mode main article h5 {
  color: #ffff99;
}

main a {
  color: rgb(3, 105, 161);
}

main a:hover {
  text-decoration: underline;
}

.dark-mode main a {
  color: #ffcc66;
}

main article h1 {
  font-size: 2rem;
}

main article h2 {
  font-size: 1.66667rem;
}
main article h3 {
  font-size: 1.333rem;
}

main article h4 {
  font-size: 1.25rem;
}

main article h5 {
  font-size: 1.125rem;
}

main .adjacent {
  margin: 1rem auto;
  padding: 1rem 0;
  border-top: dashed 1px #cccccc;
}

main .adjacent .direction {
  width: 40%;
  position: relative;
}
main .adjacent .next {
  margin-right: 10%;
  text-align: left;
}

main .adjacent .prev {
  margin-left: 10%;
  text-align: right;
}

main .adjacent .direction a {
  display: block;
  width: 100%;
}

main .adjacent .next a {
  padding-left: 2rem;
}

main .adjacent .prev a {
  padding-right: 2rem; 
}

main .tag-maze {
  margin-bottom: 2em;
}

main .tag-maze li a {
  color: white;
  transition: all 0.5s ease-in-out;
}

main .tag-maze ul {
  justify-content: center;
  align-items: center;
}

main .tag-maze ul li {
  margin-bottom: 1em;
}

@media (min-width: 70rem) {
  main .tag-maze li a {
    margin: 0.25em;
  }
  main .tag-maze ul li {
    transform: scale(1.2);
  }
  header.top-header.show-search input.search-input {
    min-width: 21rem;
  }
}

main .tag-maze ul li:nth-child(4n + 2) {
  filter: hue-rotate(90deg);
}

main .tag-maze ul li:nth-child(4n + 3) {
  filter: hue-rotate(180deg);
}

main .tag-maze ul li:nth-child(4n + 4) {
  filter: hue-rotate(270deg);
}

main .tag-maze ul li a:hover {
  transform: scale(1.5);
  filter: hue-rotate(45deg);
}

main .adjacent .next a::before,
main .adjacent .prev a::after {
  position: absolute;
  top: -0.25rem;
}

main .adjacent .next a::before,
main .adjacent .prev a::after {
  content: "➤";
  font-size: 1.25em;
}

main .adjacent .next a::before {
  transform: rotate(180deg);
  left: 0.5rem;
}

main .adjacent .prev a::after {
  right: 0.5rem;
}

main article blockquote.wp-block-quote {
  border-left: solid 0.5em #cccccc;
  padding-left: 2em;
  margin: 0.75em 0 1.25em 0;
}

body>footer nav ul li {
  margin-bottom: 1.5em;
}

body>footer nav ul li a {
  color: white;
}

ul li a em,
ul li a span,
ul li a sup,
ul li a strong {
  display: inline-block;
}

ul li a sup.count {
  top: 0.25em;
  margin: 0 0.125em 0 0.75em;
}

ul li a strong {
  transform: scale(1.5) translateY(-10%);
}

ul li a strong:last-child {
  margin: 0 0.25em 0 0.75em;
}

ul li a strong:first-child {
  margin: 0 0.75em 0 0.25em;
}

.content-list li {
  flex-flow: column nowrap;
}

.content-list li figure,
.content-list li figure img {
  width: 100%;
}

.list-page-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 2em auto;
}

.list-page-nav a {
  display: inline-block;
  margin: 0.5em 1em;
  white-space: nowrap;
}

@media (min-width: 30em) {
  .list-page-nav a {
    margin: 0.5em 1.5em;
  }
}

@media (min-width: 40em) {
  .list-page-nav a {
    margin: 0.5em 2em;
  }
}

.list-page-nav a.next::after,
.list-page-nav a.prev::before {
  display: inline-block;
  transform: scale(1.5);
}

.list-page-nav a.prev::before {
  content: "⇦";
  margin-right: 0.75em;
}

.list-page-nav a.next::after {
  content: "⇨";
  margin-left: 0.75em;
}

main article p.has-small-font-size {
  font-size: 0.8em;
}

main article.inner-content figure.size-full,
main article.inner-content figure.size-large {
  margin-bottom: 1em;
}

main article.inner-content .wp-block-table,
main article.inner-content .wp-block-table table {
  width: 100%;
}

main article.inner-content .wp-block-table table td,
main article.inner-content .wp-block-table table th {
  padding: 0.125em 0.5em;
}

@media screen and (min-width: 800px) {
  main .inner-content {
    padding: 0 5%;
  }

  .content-list li {
    flex-flow: row nowrap;
  }
  .content-list li figure {
    width: 45%;
    padding-right: 5%;
  }

  .content-list li .info {
    width: 50%;
  }

}

@media screen and (min-width: 64rem) {
  
  .content-list li figure {
    width: 35%;
    padding-right: 5%;
  }

  .content-list li .info {
    width: 60%;
  }

}

@media screen and (min-width: 80rem) {
  main .inner-content {
    padding: 0 6.25%;
  }
  header.top-header.show-search input.search-input {
    min-width: 24rem;
  }
}

@media screen and (min-width: 1440px) {
  main .inner-content {
    padding: 0 7.5%;
  }
  header.top-header.show-search input.search-input {
    min-width: 27rem;
  }
}
